#challenges {
    color: white;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.challengeCategory {
    background-color: rgb(34, 34, 34);
    font-family: sHPinscherRegular;
    font-size: 2vw;
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 2;
    border-radius: 10px;
    padding: 10px;
}

.easy {
    color: rgb(0, 255, 0);
}
.medium {
    color: blue;
}
.hard {
    color: red;
}
.insane {
    color: #ff00aa;
}